openapi: 3.2.0
info:
  version: 1.0.0
  title: 'GalaConnect API Beta API: GalaConnect Operations API'
  description: '# Getting Started


    GalaConnect offers a public API for programmatic use cases.'
  x-logo:
    url: https://connect.gala.com/img/hero-image.png
    backgroundColor: rgb(18, 18, 18)
    altText: GalaConnect logo
servers:
- url: https://api-galaswap.gala.com
tags:
- name: 'API: GalaConnect Operations'
paths:
  /v1/tokens:
    get:
      tags:
      - 'API: GalaConnect Operations'
      summary: Get Tokens
      description: Get a list of tokens available on GalaConnect. By default, only "trending" tokens are returned. To get other tokens, use the `searchprefix` query parameter to search for them. Note that price information is not guaranteed, and the `currentPrices` property may be an empty object. Token prices are sourced from CoinGecko when possible. For project tokens (created by GalaConnect users) the price shown will be a historical average of the price that the token has been swapped at on GalaConnect. If there is no swap history yet for a project token, then its price will be assigned based on the amount of $GALA the creator burned to create it.
      parameters:
      - in: query
        name: searchprefix
        schema:
          type: string
        description: Perform a case-insensitive prefix search for tokens. The searched fields for each token are `symbol`, `name`, `priceSymbol`.
      - in: query
        name: symbols
        schema:
          type: string
        description: A comma-separated list of token symbols to fetch. If provided, only tokens with these symbols will be returned.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - tokens
                properties:
                  tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/SwappableToken'
      operationId: getV1Tokens
      x-operation-id-source: derived
  /v1/FetchAvailableTokenSwaps:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Get Swaps
      description: Get a list of available swaps for the provided token pair. The `wantedTokenClass` should be the token that you want to receive, and the `offeredTokenClass` should be the token that you are willing to give in exchange. Up to 100 results are returned, ordered such that the ones with the best exchange rate (for you) come first. Note that in the response body, the perspective and meaning of "offered" and "wanted" is reversed compared to the request body. The "offered" field in the response is what the swap creator is offering, and the "wanted" field is what they want from you in exchange.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - offeredTokenClass
              - wantedTokenClass
              properties:
                offeredTokenClass:
                  allOf:
                  - $ref: '#/components/schemas/TokenClass'
                  - type: object
                    required:
                    - collection
                    properties:
                      collection:
                        type: string
                        example: SILK
                wantedTokenClass:
                  $ref: '#/components/schemas/TokenClass'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - results
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Swap'
      operationId: postV1FetchAvailableTokenSwaps
      x-operation-id-source: derived
  /v1/BatchFillTokenSwap:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Accept Swaps
      description: Accept one or more swaps that are being offered on GalaConnect.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - swapDtos
                - signature
                - signerPublicKey
                properties:
                  swapDtos:
                    type: array
                    items:
                      type: object
                      required:
                      - swapRequestId
                      - uses
                      properties:
                        swapRequestId:
                          type: string
                          example: GCTSR17063182605809b5fca57bfcfe2b9bf9ecf8593ced274ff28bed85fb23eb6fb6f33978a343df2
                          description: The ID of the swap to accept.
                        uses:
                          type: string
                          example: '1'
                          description: How many units of the swap to accept.
                        expectedTokenSwap:
                          type: object
                          description: Optional but highly recommended. Provide the details of the swap you're accepting, including the quantity of tokens you expect to give and receive. In this future it may be possible to edit existing swaps, so by providing this property you defend yourself against accepting a swap that has changed after you fetched it.
                          required:
                          - offered
                          - wanted
                          properties:
                            offered:
                              type: array
                              items:
                                $ref: '#/components/schemas/SwapOffered'
                            wanted:
                              type: array
                              items:
                                $ref: '#/components/schemas/SwapWanted'
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      required:
                      - swapRequestId
                      - created
                      properties:
                        swapRequestId:
                          type: string
                          example: GCTSR17063182605809b5fca57bfcfe2b9bf9ecf8593ced274ff28bed85fb23eb6fb6f33978a343df2
                        created:
                          type: number
                          example: 1707179736229
      operationId: postV1BatchFillTokenSwap
      x-operation-id-source: derived
  /v1/RequestTokenSwap:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Create Swap
      description: Create a swap that other wallets will be able to see and accept.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - $ref: '#/components/schemas/NewSwap'
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    $ref: '#/components/schemas/Swap'
      operationId: postV1RequestTokenSwap
      x-operation-id-source: derived
  /v1/TerminateTokenSwap:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Cancel Swap
      description: Cancel (terminate) a swap that you created.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - swapRequestId
                properties:
                  swapRequestId:
                    type: string
                    example: GCTSR17063182605809b5fca57bfcfe2b9bf9ecf8593ced274ff28bed85fb23eb6fb6f33978a343df2
                    description: The ID of the swap to cancel.
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    $ref: '#/components/schemas/Swap'
      operationId: postV1TerminateTokenSwap
      x-operation-id-source: derived
  /v1/CreateHeadlessWallet:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Create Headless Wallet
      description: Create a new headless wallet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - publicKey
              properties:
                publicKey:
                  type: string
                  example: '0x02c5953291283d92392fad8d7ed2f77a976c35a472a5554dbe63c2269eacd8ff52'
                  description: The public key for the new wallet in lowercase hex format, preceded by 0x.
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - walletAddress
                - publicKey
                properties:
                  walletAddress:
                    type: string
                    example: eth|4098698F65985F8C47DB8fBDdb47C90c36499a77
                    description: The address of the new wallet. Use this for the `X-Wallet-Address` header in future signed requests.
                  publicKey:
                    type: string
                    example: AsWVMpEoPZI5L62NftL3epdsNaRypVVNvmPCJp6s2P9S
                    description: The public key of the new wallet. Use this as the `signerPublicKey` request body property in future signed requests.
      operationId: postV1CreateHeadlessWallet
      x-operation-id-source: derived
  /v1/channels/{channel}/AuthorizeFee:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Authorize Cross-Channel Fee
      description: Use this endpoint to pay a cross-channel fee. See the `Fees` section above for important information about cross-channel fees.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The target channel for the operation you need to pay a fee for. You should read this from the `channel` property in the response from the `/fee` endpoint for your desired operation.
          example: music
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - authority
                - quantity
                properties:
                  authority:
                    type: string
                    description: This must be your wallet address and must match the key used to sign the request.
                    example: client|0123456789abcdef01234567
                  quantity:
                    type: string
                    description: The quantity of $GALA to pay for the fee. This is a decimal number represented as a string, with no trailing zeroes after the decimal place.
                    example: '100'
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - authorizeResponse
                - creditResponse
                properties:
                  authorizeResponse:
                    type: object
                    description: A receipt for the transaction to authorize (pay) $GALA on the asset channel.
                    required:
                    - authority
                    - authorization
                    - created
                    - feeAuthorizationKey
                    - quantity
                    - txId
                    properties:
                      authority:
                        type: string
                        example: client|0123456789abcdef01234567
                        description: The wallet address that authorized the fee (yours).
                      authorization:
                        type: string
                        example: '{\"authority\":\"client|635f048ab243d7eb7f5ba044\",\"quantity\":\"1\",\"signature\":\"c1bfd9f4a0d657b6f23e8a66fb1197045c53e70007388246dd4a57a74b6579935467c979bdf6d7aab5c00b450ac41cd19801f4d45644de74a8e967ffb353b3fc1b\",\"trace\":{\"spanId\":\"1934648603122828225\",\"traceId\":\"3789661451710399155\"},\"uniqueKey\":\"gyri-studio-1740775581262-0.727670207162787\"}'
                        description: The full request you sent to this endpoint, augmented with some additional trace information, and serialized into a string.
                      created:
                        type: number
                        example: 1740775582867
                        description: Timestamp when the fee was authorized (in milliseconds).
                      feeAuthorizationKey:
                        type: string
                        example: client|635f048ab243d7eb7f5ba044$2025$02$28$1e351b6a2590eff147680337c608c95ccfbcd053ea890c3ef2fdfca1f3b51e30
                        description: Unique identifier for this fee authorization.
                      quantity:
                        type: string
                        example: '100'
                        description: Amount of GALA tokens authorized for the fee.
                      txId:
                        type: string
                        example: 1e351b6a2590eff147680337c608c95ccfbcd053ea890c3ef2fdfca1f3b51e30
                        description: Transaction ID for the fee authorization.
                  creditResponse:
                    type: object
                    description: A receipt for the transaction to credit your fee balance on the target channel
                    required:
                    - authority
                    - authorization
                    - created
                    - feeAuthorizationKey
                    - quantity
                    - txId
                    properties:
                      authority:
                        type: string
                        example: client|0123456789abcdef01234567
                        description: The wallet address that authorized the fee (yours).
                      authorization:
                        type: string
                        example: '{\"authority\":\"client|635f048ab243d7eb7f5ba044\",\"quantity\":\"1\",\"signature\":\"c1bfd9f4a0d657b6f23e8a66fb1197045c53e70007388246dd4a57a74b6579935467c979bdf6d7aab5c00b450ac41cd19801f4d45644de74a8e967ffb353b3fc1b\",\"trace\":{\"spanId\":\"1934648603122828225\",\"traceId\":\"3789661451710399155\"},\"uniqueKey\":\"gyri-studio-1740775581262-0.727670207162787\"}'
                        description: The full request you sent to this endpoint, augmented with some additional trace information, and serialized into a string.
                      created:
                        type: number
                        example: 1740775582867
                        description: Timestamp when the fee was authorized (in milliseconds).
                      feeAuthorizationKey:
                        type: string
                        example: client|635f048ab243d7eb7f5ba044$2025$02$28$1e351b6a2590eff147680337c608c95ccfbcd053ea890c3ef2fdfca1f3b51e30
                        description: Unique identifier for this fee authorization.
                      quantity:
                        type: string
                        example: '100'
                        description: Amount of GALA tokens authorized for the fee.
                      txId:
                        type: string
                        example: 1e351b6a2590eff147680337c608c95ccfbcd053ea890c3ef2fdfca1f3b51e30
                        description: Transaction ID for the fee credit.
      operationId: postV1ChannelsByChannelAuthorizeFee
      x-operation-id-source: derived
  /v1/RequestBridgeToken:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Request to Bridge a Token
      description: Create a request to bridge a token. This is the first of two requests you must make to bridge a token (the second is `/v1/BridgeToken`). Currently, it is only possible to bridge $MUSIC from the music channel to the asset channel, and vice versa. No other tokens may be bridged via the GalaConnect API at this time. Note that this is same as "wrapping" a token, as it is currently referred to in the GalaConnect web client.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - destinationChainId
                - quantity
                - recipient
                - tokenInstance
                properties:
                  destinationChainId:
                    type: number
                    example: 1
                    description: The ID of the destination chain. This should be either 1 (when bridging to the asset channel) or 3 (when bridging to the music channel).
                  quantity:
                    type: string
                    example: '100'
                  recipient:
                    type: string
                    example: client|0123456789abcdef01234567
                    description: Your wallet address
                  tokenInstance:
                    $ref: '#/components/schemas/TokenInstance'
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: string
                    example: GCTXR3client|635f048ab243d7eb7f5ba0441722632271929
      operationId: postV1RequestBridgeToken
      x-operation-id-source: derived
  /v1/BridgeToken:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Bridge a Token
      description: Bridge a token. This is the second of two calls you must make to bridge a token (the first is `/v1/RequestBridgeToken`).
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - bridgeFromChannel
                - bridgeRequestId
                properties:
                  bridgeFromChannel:
                    type: string
                    example: asset
                    description: The name of the channel you are bridging from. This should be either "asset" or "music".
                  bridgeRequestId:
                    type: string
                    example: GCTXR3client|635f048ab243d7eb7f5ba0441722632271929
                    description: The ID of the bridge request you are fulfilling. This is the value returned by the `/v1/RequestBridgeToken` endpoint, which must be called first.
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                - Hash
                - Status
                properties:
                  Data:
                    type: object
                    required:
                    - chainId
                    - emitter
                    - nonce
                    - sequence
                    - payload
                    properties:
                      chainId:
                        type: number
                        example: 1
                      emitter:
                        type: string
                        example: '0x159ae617db2bc67c1cef659ce3571b3de1236980c3a551e17ebae0674af60188'
                      nonce:
                        type: string
                        example: '0xa5d0e32e361675b0c539b5244c61b7e2eadba15b411508ca6947847d82858b6c'
                      payload:
                        type: string
                        example: '0x01000300001f636c69656e747c363566643839326336303930646435613166333831356134010000000000000000000000000000000000000000000000000000000011e1a30000000000000000000000000000000000000000000000000000000000000000000015244d5553494324556e6974246e6f6e65246e6f6e65'
                      sequence:
                        type: string
                        example: '3406'
                  Hash:
                    type: string
                    example: 08ea70035f3dc4b7e1cb813e85333275a48abddf1d645b41910ce37fc4fd8022
                  Status:
                    type: number
                    example: 1
      operationId: postV1BridgeToken
      x-operation-id-source: derived
  /v1/multisig:
    post:
      tags:
      - 'API: GalaConnect Operations'
      summary: Create Multisignature Policy
      description: 'Create a new multisignature policy on GalaChain. A multi-ignature policy allows multiple wallets to jointly control transactions on a shared multi-sig wallet.


        **Important Notes:**

        - This endpoint requires a signed request. You must sign the request body with your wallet.

        - The policy will be registered on GalaChain with the signers and threshold you specify.

        - The created multi-signature wallet address will have the format: `client|ms_`

        - This multi-sig wallet can then be used like a regular wallet for token operations.


        **Request Flow:**

        1. Client signs the request body with their private key

        2. Server validates the signature

        3. Server calls app-server GraphQL to register the policy with admin key signing

        4. GalaChain creates the multi-signature policy

        5. Server returns the new multi-sig wallet address and transaction hash'
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet that is creating this multi-signature policy. This should be the owner/creator of the policy.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - displayName
                - signers
                - threshold
                properties:
                  displayName:
                    type: string
                    example: Team Wallet
                    description: A human-readable name for this multi-signature policy. This is for your reference only and is not used on-chain.
                    minLength: 1
                    maxLength: 255
                  signers:
                    type: array
                    description: The list of wallet addresses that will be signers for this multi-signature policy. Each signer will need to sign transactions that require authorization.
                    minItems: 1
                    maxItems: 10
                    items:
                      type: object
                      required:
                      - address
                      properties:
                        address:
                          type: string
                          example: eth|0x1234567890123456789012345678901234567890
                          description: A wallet address in the format `eth|<address>` or `client|<id>`. This wallet will become a signer on the multi-sig policy.
                  threshold:
                    type: number
                    example: 2
                    description: The number of signatures required to authorize transactions on this multi-signature wallet. Must be between 1 and the number of signers (inclusive).
                    minimum: 1
                    maximum: 10
                  expiration:
                    type: number
                    example: 30
                    description: Optional. Number of days until the policy expires. Once expired, this multi-signature policy can no longer be used to authorize transactions. If not provided, the policy will not expire.
                    minimum: 1
      responses:
        '201':
          description: Multi-signature policy created successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - policyName
                - status
                - transactionHash
                properties:
                  policyName:
                    type: string
                    pattern: ^client\|ms_[a-f0-9]{24}$
                    example: client|ms_a1b2c3d4e5f6g7h8i9j0k1l2m3n4
                    description: The newly created multi-signature wallet address. Use this address in the `X-Wallet-Address` header for future operations with this multi-sig wallet. Format is `client|ms_<24-char-hex-string>`.
                  status:
                    type: string
                    enum:
                    - created
                    - pending
                    example: created
                    description: The status of the multi-signature policy creation. Should be "created" on success.
                  transactionHash:
                    type: string
                    example: tx_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6q7r8s9t0
                    description: The transaction hash from GalaChain where the multi-signature policy was registered. This can be used to verify the transaction on GalaChain.
                  expiration:
                    type: number
                    example: 30
                    description: Optional. Number of days until the policy expires. Only present if provided during policy creation.
        '400':
          description: Invalid request body or parameters.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Invalid threshold
                    description: Error message describing what was invalid about the request.
        '401':
          description: Signature validation failed or invalid wallet address.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Invalid signature
                    description: Error message indicating authentication failure.
        '500':
          description: Server error during policy creation or GalaChain communication.
          content:
            application/json:
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
                    example: Failed to register policy on GalaChain
                    description: Error message describing the server-side failure.
      operationId: postV1Multisig
      x-operation-id-source: derived
    get:
      tags:
      - 'API: GalaConnect Operations'
      summary: List Multi-Signature Policies
      description: 'Retrieve all multi-signature policies owned by the authenticated user.

        This endpoint requires authentication and returns a list of all policies created by the user''s wallet.'
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the user requesting their policies.
          example: client|0123456789abcdef01234567
      responses:
        '200':
          description: Multi-signature policies retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      required:
                      - policyId
                      - policyName
                      - displayName
                      - ownerWalletAddress
                      - threshold
                      - signers
                      - status
                      - createdAt
                      properties:
                        policyId:
                          type: string
                          description: Unique identifier for the policy (MongoDB ObjectId as hex string)
                        policyName:
                          type: string
                          pattern: ^client\|ms_[a-f0-9]{24}$
                          description: The multi-signature wallet address in format `client|ms_<24-char-hex-string>`
                        displayName:
                          type: string
                          description: Human-readable name for the policy
                        ownerWalletAddress:
                          type: string
                          description: The wallet address that owns/created this policy
                        threshold:
                          type: number
                          description: Number of signatures required to authorize transactions
                        signers:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              address:
                                type: string
                        transactionHash:
                          type: string
                          description: Optional. The transaction hash from GalaChain
                        status:
                          type: string
                          enum:
                          - created
                          - pending
                          - failed
                        expiration:
                          type: number
                          description: Optional. Number of days until policy expires
                        createdAt:
                          type: string
                          format: date-time
                          description: ISO 8601 timestamp when the policy was created
        '401':
          description: Unauthorized - invalid or missing authentication.
        '500':
          description: Server error retrieving policies.
      operationId: getV1Multisig
      x-operation-id-source: derived
  /v1/multi-signature/{policyName}:
    get:
      tags:
      - 'API: GalaConnect Operations'
      summary: Get Multi-Signature Policy by Name
      description: 'Retrieve a specific multi-signature policy by its policy name.

        The policy name follows the format: `client|ms_`'
      parameters:
      - in: path
        name: policyName
        required: true
        schema:
          type: string
          pattern: ^client\|ms_[a-f0-9]{24}$
        description: The policy name to retrieve (e.g., client|ms_a1b2c3d4e5f6g7h8i9j0k1l2)
        example: client|ms_a1b2c3d4e5f6g7h8i9j0k1l2m3n4
      responses:
        '200':
          description: Multi-signature policy retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: object
                    required:
                    - policyId
                    - policyName
                    - displayName
                    - ownerWalletAddress
                    - threshold
                    - signers
                    - status
                    - createdAt
                    properties:
                      policyId:
                        type: string
                        description: Unique identifier for the policy (MongoDB ObjectId as hex string)
                      policyName:
                        type: string
                        pattern: ^client\|ms_[a-f0-9]{24}$
                        description: The multi-signature wallet address
                      displayName:
                        type: string
                        description: Human-readable name for the policy
                      ownerWalletAddress:
                        type: string
                        description: The wallet address that owns/created this policy
                      threshold:
                        type: number
                        description: Number of signatures required to authorize transactions
                      signers:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                            address:
                              type: string
                      transactionHash:
                        type: string
                        description: Optional. The transaction hash from GalaChain
                      status:
                        type: string
                        enum:
                        - created
                        - pending
                        - failed
                      expiration:
                        type: number
                        description: Optional. Number of days until policy expires
                      createdAt:
                        type: string
                        format: date-time
                        description: ISO 8601 timestamp when the policy was created
        '404':
          description: Policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Multi-signature policy not found
        '500':
          description: Server error retrieving the policy.
      operationId: getV1MultiSignatureByPolicyName
      x-operation-id-source: derived
components:
  schemas:
    Swap:
      allOf:
      - $ref: '#/components/schemas/NewSwap'
      - type: object
        required:
        - created
        - expires
        - offeredBy
        - swapRequestId
        - usesSpent
        properties:
          created:
            type: integer
            example: 1711982017548
            description: The date and time the swap was created in milliseconds since the Unix epoch.
          expires:
            type: integer
            example: 0
            description: The date and time the swap expires. Normally this will be zero, indicating no expiration.
          offeredBy:
            type: string
            example: client|123456789abcdef012345678
            description: The wallet address of the user who created the swap.
          swapRequestId:
            type: string
            example: GCTSR17063182605809b5fca57bfcfe2b9bf9ecf8593ced274ff28bed85fb23eb6fb6f33978a343df2
            description: The unique identifier of the swap.
          usesSpent:
            type: string
            example: '0'
            description: The number of uses of the swap that have been spent.
    SwapOffered:
      type: object
      required:
      - quantity
      - tokenInstance
      properties:
        quantity:
          type: string
          example: '10'
          description: The quantity of token offered.
        tokenInstance:
          $ref: '#/components/schemas/TokenInstance'
    SignedRequest:
      required:
      - signature
      - signerPublicKey
      - uniqueKey
      properties:
        signature:
          type: string
          example: MEUCIQCnXjZicvodRl0Hwyv6V1a3VU9WMsaVIxThVm0FTeuESwIgKDvv7z23QslMY6mEgSjzCK8A5LR7LV2WLCf+3CgPkPA=
        signerPublicKey:
          type: string
          example: Anm+Zn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW+BeY
        uniqueKey:
          type: string
          example: galaconnect-operation-0123456789
    SwapWanted:
      type: object
      required:
      - quantity
      - tokenInstance
      properties:
        quantity:
          type: string
          example: '10'
          description: The quantity of token wanted.
        tokenInstance:
          $ref: '#/components/schemas/TokenInstance'
    SwappableToken:
      allOf:
      - $ref: '#/components/schemas/TokenClass'
      - type: object
        required:
        - decimals
        - currentPrices
        - swappable
        - trending
        properties:
          swappable:
            type: boolean
            example: true
            description: Whether the token can be swapped on GalaConnect.
          trending:
            type: boolean
            example: true
            description: Whether the token is trending.
          symbol:
            type: string
            example: GALA
            description: The symbol of the token on GalaChain. Note that more than one token may have the same symbol. To differentiate tokens properly, you should use the combination of `collection`, `category`, `type`, and `additionalKey`.
          name:
            type: string
            example: Gala
            description: The name of the token on GalaChain.
          priceSymbol:
            type: string
            example: USD
            description: The symbol used to fetch the token's price (generally from the CoinGecko API). This property usually is not of interest to developers.
          decimals:
            type: integer
            example: 8
            description: The number of decimal places in the token.
          currentPrices:
            type: object
            properties:
              usd:
                type: number
                example: 0.063152
                description: The current price of the token in USD. This property may be missing if this information is not available.
              usd24hChange:
                type: number
                example: -6.421877021583615
                description: The amount the price has changed in the last 24 hours. This property may be if this information is not available.
    NewSwap:
      type: object
      required:
      - offered
      - wanted
      - uses
      properties:
        offered:
          type: array
          items:
            $ref: '#/components/schemas/SwapOffered'
        wanted:
          type: array
          items:
            $ref: '#/components/schemas/SwapWanted'
        uses:
          type: string
          example: '1'
    TokenClass:
      type: object
      required:
      - collection
      - category
      - type
      - additionalKey
      properties:
        collection:
          type: string
          example: GALA
        category:
          type: string
          example: Unit
        type:
          type: string
          example: none
        additionalKey:
          type: string
          example: none
    TokenInstance:
      allOf:
      - $ref: '#/components/schemas/TokenClass'
      - type: object
        required:
        - instance
        properties:
          instance:
            type: string
            example: '0'
            description: The instance of the token (always "0" for fungible tokens)
