openapi: 3.2.0
info:
  version: 1.0.0
  title: GalaConnect API Beta GalaConnect Client Operations API
  description: '# Getting Started


    GalaConnect offers a public API for programmatic use cases.'
  x-logo:
    url: https://connect.gala.com/img/hero-image.png
    backgroundColor: rgb(18, 18, 18)
    altText: GalaConnect logo
servers:
- url: https://api-galaswap.gala.com
tags:
- name: GalaConnect Client Operations
  description: These are operations that you should generally do via the GalaConnect website client. Nonetheless, they are documented here for completeness. These APIs are **not** likely to remain stable and you should not depend on them for production use.
paths:
  /v1/CreateProjectToken:
    post:
      tags:
      - GalaConnect Client Operations
      summary: Create Project Token
      description: Use this endpoint to begin the process of creating a new token on GalaChain. Note that unlike most other operations, this one requires two separate signatures. You must sign the `tokenCreationFeeBurn` and `burnAllowanceGrant` properties in the request body.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tokenCreationFeeBurn
              - burnAllowanceGrant
              - newToken
              properties:
                tokenCreationFeeBurn:
                  description: A burn operation to burn $GALA as a fee for creating the new token.
                  type: object
                  allOf:
                  - $ref: '#/components/schemas/SignedRequest'
                  - type: object
                    properties:
                      tokenInstances:
                        type: array
                        items:
                          type: object
                          required:
                          - quantity
                          - tokenInstanceKey
                          properties:
                            quantity:
                              type: string
                              example: '1999'
                              description: The quantity of the token to burn. This is a decimal number represented as a string, with no trailing zeroes after the decimal place. The quantity must be roughly $100 USD worth of $GALA at current prices.
                            tokenInstanceKey:
                              description: The token instance key of the $GALA token to burn. This must be $GALA, and must be exactly as shown in the example to the right.
                              type: object
                              required:
                              - collection
                              - category
                              - type
                              - additionalKey
                              - instance
                              properties:
                                collection:
                                  type: string
                                  example: GALA
                                category:
                                  type: string
                                  example: Unit
                                type:
                                  type: string
                                  example: none
                                additionalKey:
                                  type: string
                                  example: none
                                instance:
                                  type: string
                                  example: '0'
                burnAllowanceGrant:
                  description: A burn allowance grant that allows Gala to burn a limited amount of additional $GALA on your behalf in the future, to influence the new token's displayed price. You must provide this, but the quantity may be zero. We'll burn these tokens from your wallet after the node vote passes to create your new token (if it does).
                  type: object
                  allOf:
                  - $ref: '#/components/schemas/SignedRequest'
                  - type: object
                    required:
                    - tokenInstance
                    - quantities
                    - expires
                    - allowanceType
                    - uses
                    properties:
                      tokenInstance:
                        $ref: '#/components/schemas/TokenInstance'
                      quantities:
                        type: array
                        items:
                          type: object
                          required:
                          - quantity
                          - user
                          properties:
                            quantity:
                              type: string
                              example: '100'
                              description: The quantity of $GALA to grant a burn allowance for. This is a decimal number represented as a string, with no trailing zeroes after the decimal place.
                            user:
                              type: string
                              example: client|GALASWAP_COIN_ADMIN
                              description: The wallet address to grant the burn allowance to. This must be the GalaConnect Coin Admin wallet address (client|GALASWAP_COIN_ADMIN), as shown in the example to the right.
                      expires:
                        type: number
                        example: 0
                        description: 'The Unix timestamp at which the burn allowance will expire. This number is in milliseconds. After this time, the burn allowance will no longer be valid and we will not be able to perform any burns on your behalf. If your token has not been created on GalaChain by the time this allowance expires, token creation will fail (if you are providing a non-zero burn allowance). A date about a week in the future is recommended. You can calculate this number in JavaScript with the following code: `new Date(Date.now() + 7 * 24 * 60 * 60 * 1000).getTime()`. You may use the number 0 to indicate that the burn allowance never expires, but note that there is currently no way to revoke an allowance manually. If your token is not approved by the node network, then your tokens will not be burned, and this allowance will expire automatically at the specified time.'
                      allowanceType:
                        type: number
                        example: 6
                        description: This must be "6", which means the allowance type is "BurnAllowance".
                      uses:
                        type: string
                        example: '9007199254740991'
                        description: This must be "9007199254740991". This is the maximum number of times that the burn allowance can be used. This is a stringified integer. Note that even with multiple uses, the total quantity of $GALA that can be burned is limited by the `quantity` property in the `quantities` array. Multiple uses just allows the burn to be spread out over multiple transactions. For example, for a total quantity of 1000 with 2 uses, we could burn 300 and then 700 separately. If we only had one use, then we would have to burn the full 1000 in a single transaction.
                newToken:
                  $ref: '#/components/schemas/NewProjectTokenDetails'
      responses:
        '201':
          description: Success.
      operationId: postV1CreateProjectToken
      x-operation-id-source: derived
  /v1/tokencreationjobs:
    get:
      tags:
      - GalaConnect Client Operations
      summary: Get Token Creation Jobs
      description: Get a list of project tokens you have submitted for creation, including their status.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - jobs
                properties:
                  jobs:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - submittedAt
                      - feeAmount
                      - burnAllowanceAmount
                      - status
                      - tokenDetails
                      properties:
                        id:
                          type: string
                          example: 121d5373-7634-4b36-b703-89440c74752f
                        submittedAt:
                          type: string
                          example: '2024-05-28T21:18:50.920Z'
                        feeAmount:
                          type: string
                          example: '1000'
                        burnAllowanceAmount:
                          type: string
                          example: '500'
                        status:
                          type: string
                          enum:
                          - PENDING_NODE_VOTE_CREATION
                          - PENDING_NODE_VOTE_RESULT
                          - PENDING_ALLOWANCE_BURN
                          - PENDING_NODE_NETWORK_DISTRIBUTION
                          - PENDING_NODE_NETWORK_DISTRIBUTION_CONFIRMATION
                          - CREATED
                          - FAILED
                          example: PENDING_NODE_VOTE_CREATION
                        tokenDetails:
                          $ref: '#/components/schemas/NewProjectTokenDetails'
      operationId: getV1Tokencreationjobs
      x-operation-id-source: derived
components:
  schemas:
    TokenInstance:
      allOf:
      - $ref: '#/components/schemas/TokenClass'
      - type: object
        required:
        - instance
        properties:
          instance:
            type: string
            example: '0'
            description: The instance of the token (always "0" for fungible tokens)
    NewProjectTokenDetails:
      required:
      - decimals
      - maxSupply
      - tokenClass
      - name
      - symbol
      - description
      - image
      properties:
        decimals:
          type: number
        maxSupply:
          type: string
          example: '1000000000'
          description: The maximum number of tokens that can exist at any given time. If this many tokens exist, then some will need to be burned before new ones can be minted.
        maxCapacity:
          type: string
          example: '1000000000'
          description: The maximum number of tokens that can ever be minted. If this many tokens are minted, then no more can ever be minted, even if some are burned. You may omit this property if you want the token to have unlimited maximum capacity.
        tokenClass:
          required:
          - collection
          - category
          - type
          - additionalKey
          properties:
            collection:
              type: string
              example: Token
              description: This must always be "Token".
            category:
              type: string
              example: Unit
              description: This must always be "Unit".
            type:
              type: string
              example: MTOKEN
              pattern: /^[A-Z]{2,8}$/
              description: The symbol of your token. This must be a 6-character uppercase string.
            additionalKey:
              type: string
              example: client:123
              description: This must be your wallet address, but with the pipe character replaced by a colon character.
        name:
          type: string
          example: My Token
          description: The name of your token.
        symbol:
          type: string
          example: MTOKEN
          description: This must exactly match the `type` property of the `tokenClass` object.
        description:
          type: string
          example: This is a token that I created.
          description: A description of your token. This will be shown to users voting for your token in the node dashboard, so be sure to describe why they should vote for your token.
        image:
          type: string
          example: https://example.com/image.png
          description: 'A URL to an image that represents your token. This should be an icon 256x256 pixels in size, and it will be shown for your token on GalaConnect. For reference, see the $GALA icon: https://static.gala.games/images/icons/units/gala.png'
    SignedRequest:
      required:
      - signature
      - signerPublicKey
      - uniqueKey
      properties:
        signature:
          type: string
          example: MEUCIQCnXjZicvodRl0Hwyv6V1a3VU9WMsaVIxThVm0FTeuESwIgKDvv7z23QslMY6mEgSjzCK8A5LR7LV2WLCf+3CgPkPA=
        signerPublicKey:
          type: string
          example: Anm+Zn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW+BeY
        uniqueKey:
          type: string
          example: galaconnect-operation-0123456789
    TokenClass:
      type: object
      required:
      - collection
      - category
      - type
      - additionalKey
      properties:
        collection:
          type: string
          example: GALA
        category:
          type: string
          example: Unit
        type:
          type: string
          example: none
        additionalKey:
          type: string
          example: none
