openapi: 3.2.0
info:
  version: 1.0.0
  title: 'GalaConnect API Beta API: GalaChain Operations API'
  description: '# Getting Started


    GalaConnect offers a public API for programmatic use cases.'
  x-logo:
    url: https://connect.gala.com/img/hero-image.png
    backgroundColor: rgb(18, 18, 18)
    altText: GalaConnect logo
servers:
- url: https://api-galaswap.gala.com
tags:
- name: 'API: GalaChain Operations'
  description: These operations are direct interactions with the GalaChain blockchain, with the GalaConnect API doing little more than proxying your request.
paths:
  /galachain/api/{channel}/token-contract/FetchBalances:
    post:
      tags:
      - 'API: GalaChain Operations'
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      summary: Get Balances
      description: Use this endpoint to retrieve your wallet's balances on GalaChain. Some of your tokens may be locked (see the `lockedHolds` property in the response). Tokens are locked when they are currently being offered in an active swap, or may have been locked elsewhere on the Gala platform. Locked tokens cannot be used to create new swaps or to fill (accept) swaps, so you will generally want to subtract the quantity of locked tokens from your total overall `quantity` to decide how much you have available to use at the moment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - owner
              properties:
                owner:
                  type: string
                  example: client|0123456789abcdef01234567
                  description: Your wallet address.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      type: object
                      required:
                      - collection
                      - category
                      - type
                      - additionalKey
                      - quantity
                      - instanceIds
                      - lockedHolds
                      properties:
                        collection:
                          type: string
                          example: Gala
                        category:
                          type: string
                          example: Unit
                        type:
                          type: string
                          example: none
                        additionalKey:
                          type: string
                          example: none
                        quantity:
                          type: string
                          example: '12.345678'
                          description: The quantity of the token that the wallet possesses. This is a decimal number represented as a string. If you need to do arithmetic with this number, it is recommend to use a library like `bignumber.js` for arbitrary precision.
                        instanceIds:
                          description: For non-fungible tokens, an array of the instance IDs of the tokens that the wallet possesses. For fungible tokens, this will always be an empty array.
                          example: []
                          type: array
                          items:
                            type: string
                        lockedHolds:
                          description: An array of locks that are currently in place on the wallet's tokens of this class (if any). When a token is locked, the locked quantity cannot be used to create new swaps or to fill swaps. For example if a wallet has 1000 $GALA but a total of 200 $GALA is locked, then the wallet effectively only has 800 $GALA to work with for creating or filling swaps.
                          type: array
                          items:
                            type: object
                            required:
                            - expires
                            - instanceId
                            - quantity
                            properties:
                              expires:
                                type: number
                                description: The Unix timestamp at which the lock will expire. This number is in milliseconds.
                                example: 1702319713645
                              instanceId:
                                example: '0'
                                type: string
                                description: The instance ID of the token that is locked. For fungible tokens, this will always be zero.
                              quantity:
                                example: '250.5'
                                type: string
                                description: The quantity of the token that is locked as a stringified decimal number. For non-fungible tokens, this will always be "1".
                              name:
                                type: string
                                description: The name of the lock, if one was provided when the lock was created. This is an arbitrary string that can be used to help identify the purpose of the lock, and may or may not be understandable to a user.
      operationId: postGalachainApiByChannelTokenContractFetchBalances
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/FetchAllowances:
    post:
      tags:
      - 'API: GalaChain Operations'
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      summary: Get Allowances
      description: Use this endpoint to check your wallet's allowances on GalaChain. An allowance is a permission granted to you by another wallet, and allows you to perform operations that you wouldn't otherwise be able to do, such as locking or burning someone else's tokens.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - grantedTo
              properties:
                grantedTo:
                  type: string
                  example: client|0123456789abcdef01234567
                  description: The wallet address to fetch allowances for.
                collection:
                  type: string
                  example: GALA
                  description: A `collection` to filter by. Only allowances for tokens whose `collection` is this value will be returned.
                category:
                  type: string
                  example: Unit
                  description: A `category` to filter by. Only allowances for tokens whose `category` is this value will be returned. If you specify this, you MUST also specify `collection`.
                type:
                  type: string
                  example: none
                  description: A `type` to filter by. Only allowances for tokens whose `type` is this value will be returned. If you specify this, you MUST also specify `category`.
                additionalKey:
                  type: string
                  example: none
                  description: An `additionalKey` to filter by. Only allowances for tokens whose `additionalKey` is this value will be returned. If you specify this, you MUST also specify `type`.
                instance:
                  type: string
                  example: '0'
                  description: An `instance` to filter by. Only allowances for tokens whose `instance` is this value will be returned. If you specify this, you MUST also specify `additionalKey`.
                allowanceType:
                  $ref: '#/components/schemas/AllowanceType'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Allowance'
      operationId: postGalachainApiByChannelTokenContractFetchAllowances
      x-operation-id-source: derived
  /galachain/api/asset/token-contract/FetchTokenSwapsOfferedByUser:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Get Swaps by User
      description: Use this endpoint to fetch a list of swaps that you have created on GalaChain. This will include swaps that are currently active, and may also include swaps that are already expired or fully used.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                limit:
                  type: number
                  example: 100
                  description: The maximum number of swaps to fetch in this request.
                bookmark:
                  type: string
                  description: After making a request to this endpoint and receiving a response, you can use the `nextPageBookMark` property from the response to fetch the next page of results, by providing it here as the `bookmark` property in your next request.
                user:
                  type: string
                  example: client|0123456789abcdef01234567
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: object
                    required:
                    - nextPageBookMark
                    - results
                    properties:
                      nextPageBookMark:
                        type: string
                        description: A bookmark that can be used to fetch the next page of results. If this property is an empty string, there are no more results to fetch.
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/Swap'
      operationId: postGalachainApiAssetTokenContractFetchTokenSwapsOfferedByUser
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/FetchMintAllowanceSupply:
    post:
      tags:
      - 'API: GalaChain Operations'
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      summary: Get Mint Allowance Supply
      description: Use this endpoint to fetch the mint allowance supply data for a given token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TokenClass'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: object
                    required:
                    - supply
                    properties:
                      supply:
                        type: string
                        example: '10000000000'
      operationId: postGalachainApiByChannelTokenContractFetchMintAllowanceSupply
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/FetchTokenClassesWithSupply:
    post:
      tags:
      - 'API: GalaChain Operations'
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      summary: Get Token Classes With Supply
      description: Use this endpoint to fetch supply data for a given list of token classes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tokenClasses
              properties:
                tokenClasses:
                  type: array
                  items:
                    $ref: '#/components/schemas/TokenClass'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenClassWithSupply'
      operationId: postGalachainApiByChannelTokenContractFetchTokenClassesWithSupply
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/FetchTokenMintConfigurations:
    post:
      tags:
      - 'API: GalaChain Operations'
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      summary: Get Token Mint Configurations
      description: Use this endpoint to fetch a list of mint configurations for a given token. On mint actions, recipes can be configured to apply before or after the action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TokenClass'
              - type: object
                required:
                - bookmark
                properties:
                  bookmark:
                    type: string
                    example: ''
                    description: After making a request to this endpoint and receiving a response, you can use the `bookmark` property from the response to fetch the next page of results, by providing it here as the `bookmark` property in your next request.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: object
                    required:
                    - bookmark
                    - results
                    properties:
                      bookmark:
                        type: string
                        example: ''
                        description: A bookmark that can be used to fetch the next page of results. If this property is an empty string, there are no more results to fetch.
                      results:
                        type: array
                        items:
                          $ref: '#/components/schemas/MintConfiguration'
      operationId: postGalachainApiByChannelTokenContractFetchTokenMintConfigurations
      x-operation-id-source: derived
  /galachain/api/asset/public-key-contract/GetPublicKey:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Get Public Key
      description: Use this endpoint to get your GalaChain public key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                user:
                  type: string
                  example: client|0123456789abcdef01234567
                  description: The wallet address to fetch the public key for for.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: object
                    required:
                    - publicKey
                    properties:
                      publicKey:
                        type: string
                        example: Anm+Zn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW+BeY
      operationId: postGalachainApiAssetPublicKeyContractGetPublicKey
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/TransferToken:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Transfer Tokens
      description: Use this endpoint to transfer tokens from your wallet to another wallet on GalaChain.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - from
                - to
                - tokenInstance
                - quantity
                properties:
                  from:
                    type: string
                    example: client|0123456789abcdef01234567
                    description: This should be your own wallet address.
                  to:
                    type: string
                    example: client|0123456789abcdef01234567
                    description: The wallet address to send the tokens to.
                  tokenInstance:
                    $ref: '#/components/schemas/TokenInstance'
                  quantity:
                    type: string
                    example: '100'
                    description: The quantity of the token to send. This is a decimal number represented as a string. If you need to do arithmetic with this number, it is recommend to use a library like `bignumber.js` for arbitrary precision.
      responses:
        '201':
          description: Success.
      operationId: postGalachainApiByChannelTokenContractTransferToken
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/MintTokenWithAllowance:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Mint Token With Allowance
      description: Use this endpoint to mint tokens that you have created. You can only mint tokens that you have created via the project token feature (see `/v1/CreateProjectToken`) and only after they have been distributed to the node network.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - owner
                - quantity
                - tokenClass
                - tokenInstance
                properties:
                  owner:
                    type: string
                    example: client|0123456789abcdef01234567
                    description: The wallet address you want to mint to (doesn't have to be your own).
                  quantity:
                    type: string
                    example: '1000'
                    description: The quantity of the token to mint. This is a decimal number represented as a string.
                  tokenClass:
                    $ref: '#/components/schemas/TokenClass'
                  tokenInstance:
                    type: string
                    example: '0'
                    description: This should always be the literal value "0".
      responses:
        '201':
          description: Success.
      operationId: postGalachainApiByChannelTokenContractMintTokenWithAllowance
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/MintToken:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Mint Token
      description: Use this endpoint to mint tokens that you have a mint allowance for.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - owner
                - quantity
                - tokenClass
                properties:
                  owner:
                    type: string
                    example: client|0123456789abcdef01234567
                    description: The wallet address you want to mint to (doesn't have to be your own).
                  quantity:
                    type: string
                    example: '1000'
                    description: The quantity of the token to mint. This is a decimal number represented as a string.
                  tokenClass:
                    $ref: '#/components/schemas/TokenInstance'
      responses:
        '201':
          description: Success.
      operationId: postGalachainApiByChannelTokenContractMintToken
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/BatchMintToken:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Batch Mint Token
      description: Use this endpoint to perform multiple (up to 250) mint operations in one transaction. You must have a valid mint allowance for the tokens you want to mint.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - mintDtos
                properties:
                  mintDtos:
                    type: array
                    description: Between 1 and 250 mint operations to perform.
                    minItems: 1
                    maxItems: 250
                    items:
                      type: object
                      required:
                      - owner
                      - quantity
                      - tokenClass
                      properties:
                        owner:
                          type: string
                          example: client|0123456789abcdef01234567
                          description: The wallet address you want to mint to (doesn't have to be your own).
                        quantity:
                          type: string
                          example: '1000'
                          description: The quantity of the token to mint. This is a decimal number represented as a string.
                        tokenClass:
                          allOf:
                          - $ref: '#/components/schemas/TokenClass'
                          - description: The token to mint
      responses:
        '201':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TokenInstance'
      operationId: postGalachainApiByChannelTokenContractBatchMintToken
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/BurnTokens:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Burn Tokens
      description: Use this endpoint to burn GalaChain tokens.
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - tokenInstances
                properties:
                  tokenInstances:
                    type: array
                    description: The tokens to burn
                    items:
                      type: object
                      required:
                      - quantity
                      - tokenInstanceKey
                      properties:
                        quantity:
                          type: string
                          example: '100'
                          description: The quantity of the token to burn. This is a decimal number represented as a string, with no trailing zeroes after the decimal place.
                        tokenInstanceKey:
                          $ref: '#/components/schemas/TokenInstance'
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/TokenInstance'
                      - type: object
                        required:
                        - burnedBy
                        - created
                        properties:
                          burnedBy:
                            type: string
                            example: client|0123456789abcdef01234567
                            description: The wallet address that burned the tokens.
                          created:
                            type: number
                            example: 1723578110195
                            description: The Unix timestamp at which the tokens were burned. This number is in milliseconds.
      operationId: postGalachainApiByChannelTokenContractBurnTokens
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/GrantAllowance:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Grant Allowance
      description: Use this endpoint to grant a mint allowance. You can only grant mint allowances for tokens that you are authority of (e.x. you created the token on GalaConnect).
      parameters:
      - in: header
        name: X-Wallet-Address
        required: true
        schema:
          type: string
          description: The wallet address of the wallet whose keys are being used to sign the request.
          example: client|0123456789abcdef01234567
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The home channel of the token you are operating on. In most cases (and in all cases for tokens that are swappable on GalaConnect) this will be `asset`.
          example: asset
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SignedRequest'
              - type: object
                required:
                - tokenInstance
                - quantities
                - allowanceType
                - uses
                properties:
                  tokenInstance:
                    $ref: '#/components/schemas/TokenInstance'
                  quantities:
                    type: array
                    minItems: 1
                    maxItems: 250
                    items:
                      type: object
                      required:
                      - quantity
                      - user
                      properties:
                        quantity:
                          type: string
                          example: '100'
                          description: The quantity of the token to grant a mint allowance for. This is a decimal number represented as a string, with no trailing zeroes after the decimal place.
                        user:
                          type: string
                          example: client|0123456789abcdef01234567
                          description: The wallet address to grant the mint allowance to.
                  allowanceType:
                    type: number
                    example: 4
                    description: This must be `4`, which means the allowance type is "MintAllowance".
                  uses:
                    type: string
                    example: '9007199254740991'
                    description: This must equal `9007199254740991`. This is the number of times an allowance can be used before it becomes unusable (even if the full quantity has not been used). This is a stringified integer.
      responses:
        '201':
          description: Success.
      operationId: postGalachainApiByChannelTokenContractGrantAllowance
      x-operation-id-source: derived
  /galachain/api/{channel}/token-contract/FetchFeeBalances:
    post:
      tags:
      - 'API: GalaChain Operations'
      summary: Fetch Fee Balances
      description: Use this endpoint to check your existing fee credit balance for fees on the specified channel. See the `Fees` section above for more info about fees on channels other than the asset channel.
      parameters:
      - in: path
        name: channel
        required: true
        schema:
          type: string
          description: The channel to fetch your fee balances for.
          example: music
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - type: object
                required:
                - owner
                properties:
                  owner:
                    type: string
                    example: client|0123456789abcdef01234567
                    description: The wallet address to check fee balances for (typically your own).
                  bookmark:
                    type: string
                    description: After making a request to this endpoint and receiving a response, you can use the `nextPageBookmark` property from the response to fetch the next page of results, by providing it here as the `bookmark` property in your next request.
      responses:
        '200':
          description: Success.
          content:
            application/json:
              schema:
                type: object
                required:
                - Data
                properties:
                  Data:
                    type: array
                    items:
                      allOf:
                      - type: object
                        required:
                        - nextPageBookmark
                        - results
                        properties:
                          nextPageBookmark:
                            type: string
                            example: eyJwYXJhb
                            description: Bookmark to fetch the next page of results. If this is an empty string, there are no more pages of results.
                          results:
                            type: array
                            items:
                              type: object
                              required:
                              - key
                              - value
                              properties:
                                key:
                                  type: string
                                  example: GCFBclient|65e643532aff1b5cf00a92bf
                                value:
                                  type: object
                                  required:
                                  - created
                                  - owner
                                  - quantity
                                  properties:
                                    created:
                                      type: number
                                      example: 1723578110195
                                    owner:
                                      type: string
                                      example: client|0123456789abcdef01234567
                                    quantity:
                                      type: string
                                      example: '100'
                                      description: The quantity of fee credits. This is a decimal number represented as a string, with no trailing zeroes after the decimal place.
      operationId: postGalachainApiByChannelTokenContractFetchFeeBalances
      x-operation-id-source: derived
components:
  schemas:
    Swap:
      allOf:
      - $ref: '#/components/schemas/NewSwap'
      - type: object
        required:
        - created
        - expires
        - offeredBy
        - swapRequestId
        - usesSpent
        properties:
          created:
            type: integer
            example: 1711982017548
            description: The date and time the swap was created in milliseconds since the Unix epoch.
          expires:
            type: integer
            example: 0
            description: The date and time the swap expires. Normally this will be zero, indicating no expiration.
          offeredBy:
            type: string
            example: client|123456789abcdef012345678
            description: The wallet address of the user who created the swap.
          swapRequestId:
            type: string
            example: GCTSR17063182605809b5fca57bfcfe2b9bf9ecf8593ced274ff28bed85fb23eb6fb6f33978a343df2
            description: The unique identifier of the swap.
          usesSpent:
            type: string
            example: '0'
            description: The number of uses of the swap that have been spent.
    TokenInstance:
      allOf:
      - $ref: '#/components/schemas/TokenClass'
      - type: object
        required:
        - instance
        properties:
          instance:
            type: string
            example: '0'
            description: The instance of the token (always "0" for fungible tokens)
    SwapOffered:
      type: object
      required:
      - quantity
      - tokenInstance
      properties:
        quantity:
          type: string
          example: '10'
          description: The quantity of token offered.
        tokenInstance:
          $ref: '#/components/schemas/TokenInstance'
    SignedRequest:
      required:
      - signature
      - signerPublicKey
      - uniqueKey
      properties:
        signature:
          type: string
          example: MEUCIQCnXjZicvodRl0Hwyv6V1a3VU9WMsaVIxThVm0FTeuESwIgKDvv7z23QslMY6mEgSjzCK8A5LR7LV2WLCf+3CgPkPA=
        signerPublicKey:
          type: string
          example: Anm+Zn753LusVaBilc6HCwcCm/zbLc4o2VnygVsW+BeY
        uniqueKey:
          type: string
          example: galaconnect-operation-0123456789
    TokenClassWithSupply:
      allOf:
      - $ref: '#/components/schemas/TokenClass'
      - type: object
        required:
        - supply
        - knownMintAllowanceSupply
        - knownMintSupply
        - maxCapacity
        - maxSupply
        - totalBurned
        - totalSupply
        properties:
          knownMintAllowanceSupply:
            type: string
            example: '1000000'
          knownMintSupply:
            type: string
            example: '1000000'
          maxCapacity:
            type: string
            example: '100000000'
          maxSupply:
            type: string
            example: '100000000'
          totalBurned:
            type: string
            example: '1000'
          totalSupply:
            type: string
            example: '1000000'
    SwapWanted:
      type: object
      required:
      - quantity
      - tokenInstance
      properties:
        quantity:
          type: string
          example: '10'
          description: The quantity of token wanted.
        tokenInstance:
          $ref: '#/components/schemas/TokenInstance'
    NewSwap:
      type: object
      required:
      - offered
      - wanted
      - uses
      properties:
        offered:
          type: array
          items:
            $ref: '#/components/schemas/SwapOffered'
        wanted:
          type: array
          items:
            $ref: '#/components/schemas/SwapWanted'
        uses:
          type: string
          example: '1'
    TokenClass:
      type: object
      required:
      - collection
      - category
      - type
      - additionalKey
      properties:
        collection:
          type: string
          example: GALA
        category:
          type: string
          example: Unit
        type:
          type: string
          example: none
        additionalKey:
          type: string
          example: none
    Allowance:
      type: object
      required:
      - grantedTo
      - grantedBy
      - collection
      - category
      - type
      - additionalKey
      - instance
      - allowanceType
      - uses
      - usesSpent
      - expires
      - created
      - quantity
      - quantitySpent
      properties:
        grantedTo:
          type: string
          example: client|123456789abcdef012345678
          description: The wallet address of the user who is granted the allowance.
        grantedBy:
          type: string
          example: client|123456789abcdef012345678
          description: The wallet address of the user who granted the allowance.
        quantity:
          type: string
          example: '10'
          description: The initial quantity of tokens allowed to perform the action on.
        quantitySpent:
          type: string
          example: '0'
          description: The amount of the initial quantity that has already been used. For example if you get a mint allowance for 10 tokens and you mint 4 tokens, then this property will be 4, and you can mint 6 more tokens.
        collection:
          type: string
          example: GALA
        category:
          type: string
          example: Unit
        type:
          type: string
          example: none
        additionalKey:
          type: string
          example: none
        instance:
          type: string
          example: '0'
          description: The instance of the token (always "0" for fungible tokens)
        allowanceType:
          $ref: '#/components/schemas/AllowanceType'
        uses:
          type: string
          example: '1'
          description: The number of times the allowance can be used. For example if the value of this is `1`, then you can only perform the action once. If you have an allowance with 1 use to mint 10 tokens, for example, and you mint 4 tokens, then you have exhausted your uses and you cannot mint the remaining 6 tokens.
        usesSpent:
          type: string
          example: '0'
          description: The number of uses of the allowance that have been spent.
        expires:
          type: integer
          example: 0
          description: The date and time the allowance expires. Often this will be zero, indicating no expiration. If non-zero, this will be a Unix timestamp in milliseconds.
        created:
          type: integer
          example: 1711982017548
          description: The date and time the allowance was created in milliseconds since the Unix epoch.
    AllowanceType:
      type: integer
      description: 'The type of allowance. Some allowance types might not have any current use cases. The possible values are: `0` (Use), `1` (Lock), `2` (Spend), `3` (Transfer), `4` (Mint), `5` (Swap), `6` (Burn). If you specify this, you MUST also specify `instance`.'
      oneOf:
      - title: Use
        const: 0
      - title: Lock
        const: 1
        description: An allowance to lock another wallet's tokens.
      - title: Spend
        const: 2
      - title: Transfer
        const: 3
        description: An allowance to transfer another wallet's tokens.
      - title: Mint
        const: 4
        description: An allowance to mint tokens.
      - title: Swap
        const: 5
      - title: Burn
        const: 6
        description: An allowance to burn another wallet's tokens.
    MintConfiguration:
      allOf:
      - $ref: '#/components/schemas/TokenClass'
      - type: object
        properties:
          additionalFee:
            required:
            - flatFee
            properties:
              flatFee:
                type: number
                example: 100
          postMintBurn:
            required:
            - burnPercentage
            properties:
              burnPercentage:
                type: number
                example: 0.1
          postMintLock:
            required:
            - expirationModifier
            - lockAuthority
            - lockName
            - lockPercentage
            properties:
              expirationModifier:
                type: number
                example: 86400000
              lockAuthority:
                type: string
                example: client|123456789abcdef012345678
              lockName:
                type: string
                example: post-mint-lock
              lockPercentage:
                type: number
                example: 0.1
          preMintBurn:
            required:
            - burnPercentage
            properties:
              burnPercentage:
                type: number
                example: 0.1
